Introduction

This project will investigate where in Stockholm where in stockholm it would be best to open up a restaurant.
For this, data on subway stations combined with foursquare venue data will be used in order to find out in what areas of the city the most popular restaurants exists.

In a city of your choice, if someone is looking to open a restaurant, where would you recommend that they open it?

In [9]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [13]:
df = pd.read_html('https://sv.wikipedia.org/w/index.php?title=Lista_%C3%B6ver_tunnelbanestationer_i_Stockholm&oldid=46033661',header=0)[0]

In [14]:
df.head()

,Namn,Linje,Invigningsår,Avstånd,Kommun,Stationstyp,Latitud,Longitud
0,Slussen,Grön,1950,15,Stockholms kommun,Betongstation,18.072327,59.319493
1,Medborgarplatsen,Grön,1950,21,Stockholms kommun,Betongstation,18.073550,59.314342
2,Skanstull,Grön,1950,27,Stockholms kommun,Betongstation,18.076229,59.307852
3,Gullmarsplan,Grön,1950,38,Stockholms kommun,"Ytstation, delvis överbyggd av betong",18.080768,59.299114
4,Skärmarbrink,Grön,1950,45,Stockholms kommun,Ytstation,18.090440,59.295366